* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #19b419;
  --main-dark: #046704;
  --main-light: #aefbae;
  --support: #ffd700;
  --support-light: #ffffe0;
  --dark: #111;
  --light: #ffeeff;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
}