@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #19b419;
  --main-dark: #046704;
  --main-light: #aefbae;
  --support: #ffd700;
  --support-light: #ffffe0;
  --dark: #111;
  --light: #ffeeff;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --transition: all 0.5s ease-in-out;
}

.navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu {
  display: none;
}

.logo {
  font-family: 'Carattere', cursive;
  font-size: 5rem;
  color: var(--main-dark)
}

@media (max-width: 1600px) {

}

@media (max-width: 1300px) {

}

@media (max-width: 1200px) {

}

@media (max-width: 1000px) {
  .navbar {
    justify-content: start;
    padding-left: 2rem;
  }
  .menu {
    display: block;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-line {
    width: 100%;
    height: 0.4rem;
    background-color: var(--main-dark);
    transition: var(--transition);
  }

  .change .menu-line-1 {
    transform: rotate(40deg) translate(0.5rem, 1rem);
  }
  
  .change .menu-line-2 {
    opacity: 0;
  }
  
  .change .menu-line-3 {
    transform: rotate(-40deg) translate(0.5rem, -1rem);
  }
}

@media (max-width: 800px) {

}

@media (max-width: 600px) {

}

@media (max-width: 500px) {
  html {
    font-size: 45%;
  }
}