@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Noto Serif', serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

:root {
  --main: #19b419;
  --main-dark: #046704;
  --main-light: #aefbae;
  --support: #ffd700;
  --support-light: #ffffe0;
  --dark: #111;
  --light: #ffeeff;
  --grey-dark: #333;
  --grey-medium: #999;
  --grey-light: #ccc;
  --grey-light-extra: #eee;
  --transition: all 0.5s ease-in-out;
}

.logo {
  font-family: 'Carattere', cursive;
}